{% extends "layouts/base.html" %} {% block content %}

<div class="ajet-container">
    <div class="breadcrumb">Submit Article / <a href="#">Author's Manuscript Guide</a></div>
    <div class="ajet-journal-title">
        Akungba Journal of Politics and Society (AJPS)
    </div>
    <div class="ajet-issn">ISSN – 2006 9995</div>
    <div class="ajet-section-title">Author's Manuscript Guide</div>

    <div class="ajet-subsection-title">1. Originality</div>
    <p class="ajet-paragraph">
        Paper submitted should be an original and unpublished work. Any paper submitted which is identical or substantially like research work already published or under review for another publication will be rejected. 
    </p>

    <div class="ajet-subsection-title">2. Submission of Manuscripts</div>
    <ul class="ajet-list">
        <li class="ajet-list-item">
            Manuscripts should be submitted in MS-Word to the journal website http://www.ajps.aaua.org or by email to ajps@aaua.edu.ng. Once manuscript is received, an acknowledgement email stating the paper ID will be sent to corresponding author for further correspondence.
        </li>
    </ul>

    <div class="ajet-subsection-title">3. Structure of Manuscripts</div>
    <ul class="ajet-list">
        <li class="ajet-list-item">
            The cover page should be separated from the manuscript text and should contain the title of the manuscript, author(s) names and affiliation, contact addresses (e-mail and telephone numbers). The manuscript text should begin with abstract on a fresh page.
        </li>
        <li class="ajet-list-item">
            Title of manuscript should be concise and informative. Authors are advised to avoid lengthy titles
        </li>
        <li class="ajet-list-item">
            Abstract of not more than 200 words showing the motivation of the study, methods and conclusion is required. The abstract should be simple and concise without any technical or ambiguous statements.
        </li>
        <li class="ajet-list-item">
            Five (5) Keywords should be included after the abstract
        </li>
        <li class="ajet-list-item">
           The length limit for each manuscript is 8,000 words including figures, tables and references. A maximum of 10,000 words is permitted at extra cost for additional words.
        </li>
        <li class="ajet-list-item">
            Manuscript should be Times New Roman 12 –point font size at 1.5 line spacing (except table with single space) with 1-inch or 2.54cm margin on all sides.
        </li>
        <li class="ajet-list-item">
            Tables should be placed within the paper, and numbered according to the sequence of the appearance in the text where they are to be labeled as “Table 1”, “ Table 2”, etc.
        </li>
        <li class="ajet-list-item">
            Table titles should be short and self-explanatory, and placed above the table. Each table must have an accompanying explanation and its source below it. 
        </li>
        <li class="ajet-list-item">
            Manuscript should be written in English (either US or UK spelling is accepted, but not a mixture of both).
        </li>
    </ul>

    <div class="ajet-subsection-title">4. Organization of the Paper</div>
    <ul class="ajet-list">
        <li class="ajet-list-item">
          The manuscript should be divided into sections as preferred by the author(s). However, the journal considers the following sections as germane:
        </li>
        <li class="ajet-list-item ajet-indent">
          Introduction: It should provide a clear statement of the problem, and the proposed approach or solution (statement of problem/gap in literature). It should be understandable to colleagues from a broad range of specific disciplines.
        </li>
        <li class="ajet-list-item ajet-indent">
            Literature Review: It should provide a critical review of existing relevant literature on the subject matter.
        </li>
        <li class="ajet-list-item ajet-indent">
            Theoretical Framework: It should provide the theoretical foundation upon which the paper is built, and show clearly how such theoretical framework applies to the subject matter of the paper.
        </li>
        <li class="ajet-list-item ajet-indent">
           Data and Methods: It should be complete enough to allow methodology to be reproduced. However, only truly new procedures should be described in detail; previously published procedures should be cited, and important modifications of published procedures should be mentioned briefly. 
        </li>
        <li class="ajet-list-item ajet-indent">
            Results: This should be presented with clarity and precision. The results should be written in the past tense when describing findings in the author’s experiments. Previously published findings should be written in the past tense. Results should be explained, but largely without referring to the literature. 
        </li>
        <li class="ajet-list-item ajet-indent">
            	Discussion of Findings: The discussion should interpret the findings in view of the results obtained in the current study and in previous studies on the subject matter. This section should explain implication of findings policy and current debate.
        </li>
        <li class="ajet-list-item">
            Conclusion: should be in a few sentences at the end of the paper in line with the set objectives. 
        </li>
        <li class="ajet-list-item">
            Acknowledgments: The acknowledgments of people, grants, funds, etc should be brief (Optional). 
        </li>
    </ul>

    <div class="ajet-subsection-title">5. Illustrations</div>
    <ul class="ajet-list">
        <li class="ajet-list-item">
            All illustrations should be submitted in a form suitable for reproduction. Number the illustrations according to the sequence of their appearance in the text, where they are to be referred to as “Fig. 1,” “Fig .2”, etc. Each illustration may have a legend if required.
        </li>
        <li class="ajet-list-item">
            Photographs should be glossy prints. The author's name and figure number should be indicated on the back of each illustration.
        </li>
    </ul>

    <div class="ajet-subsection-title">6. Headings</div>
    <ul class="ajet-list">
        <li class="ajet-list-item">
         Headings should not be numbered, but should be written in bold format. 
        </li>
    </ul>

    <div class="ajet-subsection-title">7. Footnotes</div>
    <ul class="ajet-list">
        <li class="ajet-list-item">
            In the text, footnotes are not permitted. They should be properly included in the context. However, where they are used, they must be used sparingly.
        </li>
    </ul>

    <div class="ajet-subsection-title">8. Symbolic and Abbreviations</div>
    <ul class="ajet-list">
        <li class="ajet-list-item">
            Please use widely accepted symbols and forms of abbreviation.
        </li>
        <li class="ajet-list-item">
            If there is any doubt in your mind about a symbol or abbreviation, give
the full expression followed by the abbreviation, when it appears in the
text for the first time.
        </li>
    </ul>

    <div class="ajet-subsection-title">9. Mathematics</div>
    <ul class="ajet-list">
        <li class="ajet-list-item">
            Mathematical expressions and equations should be properly
            typewritten, with all symbols aligned as they are to appear in
            print.
        </li>
        <li class="ajet-list-item">
            All Greek letters and other special symbols must be identified.
        </li>
        <li class="ajet-list-item">
            Vectors will be set in bold face and should be indicated in the
manuscript by underlining with a way line.
        </li>
        <li class="ajet-list-item">
            Equations or formulae should be numbered serially on the right-hand
side by Arabic numerals in parentheses.
        </li>
        <li class="ajet-list-item">
            Include DOI of the references whenever available
        </li>
        <li class="ajet-list-item">Please follow the style below:</li>
    </ul>

    <div class="ajet-subsection-title">10. References</div>
    <p class="ajet-paragraph">
        References must follow the current edition of the American Psychological
Association (APA) 7th referencing style typed with single line spacing within a reference.
    </p>

    <div class="ajet-subsection-title">11. Peer Review Policy</div>
    <p class="ajet-paragraph">
        The journal adheres strictly to an accelerated and thorough double- blind review policy in which the identity of the reviewer and authors are not revealed to each other. 
    </p>
    <p class="ajet-paragraph">
       All manuscripts are reviewed as soon as possible, and the editorial decision is reached within 3 to 4 weeks of submission. 
    </p>
    <p class="ajet-paragraph">
        The reviewer recommendation determines whether an article will be
Accepted; Accepted subject to minor corrections;Accepted subject to resubmission with significant corrections; or
Rejected.
    </p>

    <div class="ajet-subsection-title">12. Publication Fee</div>
    <p class="ajet-paragraph">
        The total publication fee is thirty thousand naira only (N32, 500). The fee covers processing fee and publishing fee, as follows;
    </p>

    <table class="ajet-fee-table">
        <tr>
            <th>Item</th>
            <th>Naira (₦)</th>
            <th>USD ($)</th>
        </tr>
        <tr>
            <td>Peer Review Charge</td>
            <td>7,500</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Publishing Charge</td>
            <td>25,000</td>
            <td>40</td>
        </tr>
    </table>
    <p class="ajet-paragraph">
        The processing fee is paid on submission of the manuscript while the publishing charge is paid on acceptance of the article but before publication. 
    </p>

    <p class="ajet-paragraph">
        Authors can make payment into the understated bank account:<br />
        <strong class="ajet-strong">Account Name: Department of Political Science & Public Administration, AAUA</strong
        ><br />
        <strong class="ajet-strong">Bank: Access Bank.</strong><br />
        <strong class="ajet-strong">Account Number: 0707127415</strong>
    </p>

    <!-- <div class="ajet-declaration">
        <div class="ajet-subsection-title">Declaration</div>
        <p class="ajet-paragraph">
            Akungba Journal of Economic Thought promotes originality and novelty
            of research. Papers submitted to the journal for publication
            consideration will be scrutinized to authenticate its originality
            and protect the integrity of its promoters. However, the journal
            Akungba Journal of Economic Thought will not be responsible for
            violation of existing laws regarding plagiarism on the part of
            authors.
        </p>
    </div> -->
</div>
{% endblock %}
